
<% content_for :stylesheets do %>
	<link rel="stylesheet" type="text/css" href="/assets/objects.css">
	<link rel="stylesheet" type="text/css" href="/assets/main.css">
<% end %>
		
	
	<div id="canvas-wrap">
		
		<div id="overlay"><ul id="scene">
		<li class="layer" data-depth="0.00"><img src="/assets/paris-skyline.jpg"></li>
		<li class="layer" data-depth="0.04"><img class="leave" src="/assets/autumn_leaves_200.png"></li>
		<li class="layer" data-depth="0.6"><img class="bottle" src="/assets/bottle_200.png"></li>
		<li class="layer" data-depth="0.01"><img class="tree" src="/assets/fir_tree_h400.png"></li>
		<li class="layer" data-depth="0.9"><img class="ship" src="/assets/ship1.png"></li>
		<li class="layer" data-depth="0.4"><img class="smoke shift-1" src="/assets/smoke_PNG973.png"></li>
	</ul></div>
	</div>
	<% content_for :javascripts do %>
		<script src="/assets/three.min.js"></script>
		<script src="/assets/parallax.min.js"></script>
		<script src="/assets/THREEx.KeyboardState.js"></script>
		<script src="/assets/3d.js"></script>

		<script>
		var parallaxScene = document.getElementById('scene');
		var parallax = new Parallax(parallaxScene);
		var delta = 1;

		if (window.realtime.socketIo) {
		
			window.realtime.socketIo.on('move_up', function() {
				// Give a nice round-trip ACK to our realtime server that we connected.
	    		console.log("receive move_up");
	    		sphere.position.y += 10 * delta;
	  		});
	  		
	  		window.realtime.socketIo.on('move_down', function() {
				// Give a nice round-trip ACK to our realtime server that we connected.
	    		console.log("receive move_down");
	    		sphere.position.y -= 10 * delta;
	  		});

	  		window.realtime.socketIo.on('move_left', function() {
				// Give a nice round-trip ACK to our realtime server that we connected.
	    		console.log("receive move_left");
	    		sphere.position.x -= 10 * delta;
	  		});

	  		window.realtime.socketIo.on('move_right', function() {
				// Give a nice round-trip ACK to our realtime server that we connected.
	    		console.log("receive move_right");
	    		sphere.position.x += 10 * delta;
	  		});

		}
		</script>
	<% end %>